@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins";
}

#category_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 90%;
  margin: auto;
  padding: 50px;
}
#category_child {
  /* border: 1px solid red; */
  /* height: 100px; */
  /* background-color: ; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  /* transition: backgroud 5s, transform 5s; */
  border-radius: 2rem;
}
#category_child:hover {
    background-color: #fcebea;
    /* width: 300px; */
    /* transform: translateY(-10); */
    
}
#category_child_img {
  /* width: 100%; */
  width: 100%;
  /* height: 200px; */
}
#category_child_img img {
  width: 100%;
  /* height: 200px; */
}
#category_child_details {
  width: 100%;
}
#category_child_details_name {
  margin: -1px;
  /* margin-top: 2rem; */
  font-size: 30px;
  font-weight: 400;
  color: #ff4742;
  font-family: "Pacifico", Helvetica, sans-serif;
}
#category_child_details_desc {
  font-weight: 300;
  font-size: 20px;
  color: #a5312b;
}
#banner {
  height: 500px;
  /* background-image: url("../images/category/Beauty_Sallon-1.png");
  background-repeat: no-repeat;
  background-size: contain; */
  /* background-size: auto; */
  width: 100%;
  align-items: center;
  margin: auto;
}

#banner_div {
  
}
#banner_div_h1 {
  font-family: "Pacifico", Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: -5px;
  color: rgb(195, 66, 156);
}
#banner_div_p {
  /* font-family: "Pacifico", Helvetica, sans-serif; */
  font-size: 20px;
  margin-top: -5px;
}
@media (min-width: 300px) and (max-width: 800px) {
  #category_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: auto;
    width: 90%;
  }
  #category_child {
    /* border: 1px solid red; */
    /* height: 100px; */
    /* background-color: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -55px;
  }
  #category_section {
    padding-top: 50px;
    margin: auto;
  }
  #category_child_img {
    width: 100%;
  }
  #category_child_details {
    width: 100%;
  }
  /* #banner_div{
    
  } */
}
